@font-face {
    font-family: "Roboto";
    src: url("./font/Roboto-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}


.grid-container {
    display: grid;
    grid-template-columns: 0.5fr 4fr;
    grid-template-rows: 1fr 5fr;


}

.sidebar {
    background-color: rgb(80, 158, 237);
    height: 100vh;
    width: 282px;
    position: absolute;
}

.sidebar a {
    color: white;
    align-items: center;
}

.profile-picture {
    border-radius: 50%;
    height: 50px;
    border: 2px solid black;
}


header {
    display: grid;
    grid-template-rows: 10% 20%;
    grid-template-columns: repeat(2, 1fr);
    grid-column-start: 2;
    height: fit-content;
    border-bottom: 5px solid;
    margin-top: 5px;
}

header .left {
    display: grid;
    grid-template-rows: auto 100px;
    margin-left: 10em;
    margin-top: 1em;

}

#profile-picture {
    border-radius: 50%;
    height: 50px;
    border: 2px solid black;

}

.greeting {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

header .right {
    display: grid;
    grid-template-rows: auto 100px;
    margin-top: 1em;
}


.user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    margin-right: 5em;
}

.user-info span {
    font-weight: bold;
}


.btns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    margin-right: 15%;
}





.title {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.navigation>div,
.branding>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}



.branding,
.navigation {
    margin-top: 2em;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.5fr 1fr 1fr 1fr;
    grid-column-start: 2;
}


main .left h2,
main .left h3 {
    margin-top: 10px;
    margin-left: 1em;

}

main .left {
    grid-row: 2 / 4;
    margin-left: 2em;
    width: 40%;

}

#super-cool-project .title {
    margin-top: 30px;
}


#super-cool-project {
    border-left: 5px solid rgb(221, 175, 67);
    height: 20vh;
    border-radius: 20px;
    box-shadow: 0 3px rgb(207, 205, 205);


}


#super-cool-project h3 {
    margin-top: 2em;
}

#super-cool-project p {
    margin-top: 10px;
    margin-left: 1em;
}

main .left .icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 1em;
    margin-right: 5px;
    gap: 20px;


}