    @font-face {
        font-family: "Roboto";
        src: url("./font/Roboto-Regular.ttf");
    }

    * {
        margin: 0;
        padding: 0;
        font-family: "Roboto";
    }


    .grid-container {
        display: grid;
        grid-template-columns: 250px 4fr;
        /* grid-template-columns: 1fr 1fr; */
        grid-template-rows: 1fr 5fr;
        /* position: fixed; */
    }

    .sidebar {
        background-color: rgb(80, 158, 237);
        height: 100%;
        width: 250px;
        position: fixed;
    }

    .sidebar a {
        color: white;
        align-items: center;
    }

    .profile-picture {
        border-radius: 50%;
        height: 50px;
        border: 2px solid black;
    }


    header {
        display: grid;
        grid-template-rows: 10% 20%;
        grid-template-columns: repeat(2, 1fr);
        grid-column-start: 2;
        height: fit-content;
        border-bottom: 5px solid;
        margin-top: 5px;
    }

    header .left {
        display: grid;
        grid-template-rows: auto 100px;
        margin-left: 10em;
        margin-top: 1em;

    }

    #profile-picture {
        border-radius: 50%;
        height: 50px;
        border: 2px solid black;

    }

    .greeting {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    header .right {
        display: grid;
        grid-template-rows: auto 100px;
        margin-top: 1em;
    }


    .user-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
        margin-right: 5em;
    }

    .user-info span {
        font-weight: bold;
    }


    .btns {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 15px;
        margin-right: 15%;
    }





    .title {
        display: flex;
        flex-direction: row;
        align-items: center;
    }


    .navigation>div,
    .branding>div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }



    .branding,
    .navigation {
        margin-top: 2em;
    }



    main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto 1fr 1fr;
        grid-column-start: 2;
        margin-left: 180px;
        gap: 10px;
    }




    #super-cool-project {
        grid-column: 1;
        grid-row: 2;
        padding: 2em;
    }


    #impossible-app {
        grid-column: 1;
        grid-row: 3;
    }

    #ad-blocker {
        grid-column: 1;
        grid-row: 4;
        padding: 2em;
    }

    #less-cool-project {
        grid-column: 2;
        grid-row: 2;
        padding: 2em;
    }

    #easy-peasy-app {
        grid-column: 2;
        grid-row: 3;
    }

    #money-maker {
        grid-column: 2;
        grid-row: 4;
    }


    #extra-info {
        grid-column: 3;
    }

    #extra-info #announcements {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-column: 3;
        grid-row: 2 / -3;
        gap: 50px;
        position: fixed;
        margin-left: 50px;
    }

    #site-maintenance,
    #community-share-day,
    #updated-privacy-policy {
        margin-top: 50px;

    }

    #site-maintenance p,
    #community-share-day p,
    #updated-privacy-policy p {
        margin-top: 5px;
    }

    main .icons {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 20px;
        margin-top: 50px;

    }

    #super-cool-project p,
    #less-cool-project p,
    #impossible-app p,
    #easy-peasy-app p,
    #ad-blocker p,
    #money-maker p {
        margin-top: 18px;

    }

    #trending {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-column: 3;
        grid-row: 4;
        align-items: center;
        margin-top: 50px;
        margin-left: 50px;
        gap: 20px;
    }


    #tegan,
    #sebastian,
    #kendall,
    #alex {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 10px;


    }

    main p {
        text-wrap: pretty;
    }